@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  max-width: 100vw;

  background-color: rgb(245, 245, 245);
  color: rgb(90, 90, 90);
}

.text-gray {
  color: rgb(90, 90, 90);
}

#root {
  margin: 0 auto;
  width: 98%;
  height: 100%;

  padding: 0.5rem;
}

.nav-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 100%;
  margin: 0 auto;
  height: 4rem;

  padding: 0 1rem;
}
.logo-container {
  height: 100%;
}
.logo {
  color: rgb(255, 100, 0);
}

.menu-container > ul {
  display: flex;
}

.menu-container > ul > li {
  list-style: none;
  font-weight: 700;
  margin: 0 1rem;
}
.search-bar-container {
  border: 1px solid black;
  margin: 0.5rem 0;
}

.restaurant-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurant-card {
  width: 22rem;
  flex-grow: 20%;
  padding: 1rem;
  background-color: white;
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 0.5px solid rgb(245, 245, 245);
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
}

.restaurant-card:hover {
  transition: 0.5s ease;
  border: 0.5px solid rgb(200, 200, 200);
  box-shadow: 0px 0px 10px rgb(200, 200, 200);
}

.restaurant-img-container {
  height: 14rem;
  width: 100%;
}
.restaurant-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.restaurant-card:hover .restaurant-name {
  transition: 0.5s ease-in-out;
  color: rgb(255, 100, 0);
}
